{% extends "admin/index.html" %}
    {% block css %}
     {{ super() }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    
{% endblock  %}
 
  {% block body %}
<br/> <br/><br/><br/><br/><br/>
<div class="container">
<br/>
<br/>
<div class="col-md-2">
<input type="text" name="From" id="From" class="form-control" placeholder="From Date"/>&nbsp&nbsp
</div>
<div class="col-md-2">
<input type="text" name="to" id="to" class="form-control" placeholder="To Date"/>&nbsp&nbsp
</div>
<div class="col-md-8">
	<a type="button" name="range" id="range" value="Range" class="btn btn-success">Payment</a>
    &nbsp&nbsp
    <a href="{{ url_for('register.download_report') }}" type="button" class="btn btn-success">Download Excel</a>

</div>
<div class="clearfix"></div>
<br/>
<div id="purchase_order">
<table class="table table-bordered">
<tr>


<th>Name</th>
<th >Flat No</th>
<th >Pay Date</th>
<th >Amount</th>
</tr>
{% for row in member %}
    <tr>
    <td>{{row.name}}</td>
    <td>{{row.flatno_id}}</td>
    <td>{{row.paydate}}</td>
    <td>{{row.amount}}</td>
  
    </tr>
    {% endfor %}
</table>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<!-- Script -->
<script>
$(document).ready(function(){
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });
    $(function(){
        $("#From").datepicker();
        $("#to").datepicker();
    });
    $('#range').click(function(){
        var From = $('#From').val();
        var to = $('#to').val();
        if(From != '' && to != '')
        {
            $.ajax({
                url:"/range",
                method:"POST",
                data:{From:From, to:to},
                success:function(data)
                {
                    $('#purchase_order').html(data);
                    $('#purchase_order').append(data.htmlresponse);
                }
            });
        }
        else
        {
            alert("Please Select the Date");
        }
    });
});
</script>
{% endblock  %}